<template>
    <base-modal-form
        title="Add New Company"
        :names="names"
        :openForm="openAdd"
        :msg="msg"
        @submit="onSubmit"
        @close="onClose"
    />
</template>

<script>
import BaseModalForm from '../../components/BaseModalForm'
import HelperAPI from '../../functions/HelperAPI'

export default {
    data(){
        return{
            names: ['Company Name', 'Address', 'Phone', 'Email'],
            msg: '',
        }
    },
    components: {
        BaseModalForm,
    },
    props: {
        openAdd: Boolean,
    },
    methods: {
        onSubmit(childData){
            HelperAPI.httpRequest('COMPANY', 'post', childData, (success, httpMsg) => {
                console.log(httpMsg)
                if(success == true){
                    this.onClose()
                }else{
                    this.msg = httpMsg
                }
            })
        },
        onClose(){
            this.$emit('close', false)
            this.msg=''
        }
    }

}
</script>
