<template>
    <div class="table-apps">
        <v-layout row class="row">
            <v-flex xs6 class="tableTitle">
                <span class="headline">Company Table
                    <span class="lostconnect-loading" v-if="isLoading">
                    <v-progress-circular
                        indeterminate
                        :width="2"
                        :size="10"
                        color="red"
                    ></v-progress-circular>
                </span>
                </span>
                
            </v-flex>
            <v-flex xs6>
                <v-toolbar tile flat :color="pallet.baseBground" v-if="companyData.length>0||errStatus!='Lost connection with server.'">
                    <v-spacer></v-spacer>
                    <div class="allDelete">
                        <v-btn v-if="checkAll||inter" icon medium color="white" title="Delete all">
                            <v-hover>
                                <v-icon
                                        slot-scope="{hover}"
                                        :color="hover? pallet.black: pallet.checkbox2 "
                                >mdi-delete</v-icon>
                            </v-hover>
                        </v-btn>
                        
                    </div>
                    
                    <v-btn dark color="blue" depressed @click="openAdd = true" title="Add new data" icon>
                        <!-- <div class="add">Add</div> --> <v-icon >mdi-plus</v-icon>
                    </v-btn>
                </v-toolbar>
            </v-flex>
        </v-layout>

        <table v-if="companyData.length>0">
            <!-- HEADER -->
            <tr id="header">
                <!-- CHECKBOX ALL -->
                <th id="checkboxtab" @click="checkAllChacker">
                    <v-checkbox class="checkbox"
                        v-model="checkAll"
                        :color="pallet.checkbox2"
                        :indeterminate="inter"
                    ></v-checkbox>
                </th>
                
                <th>Company Code</th>
                <th>Company Name</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>

            <v-hover v-for="(item, index) in companyData" :key="item._id" >
                <tr id="tr" slot-scope="{ hover }">
                    <!-- CHECKBOX -->
                    <td id="checkboxtab" @click="checkChacker">
                        <v-checkbox class="checkbox"
                            v-model="check[index]"
                            :color="pallet.checkbox2"
                        ></v-checkbox>
                    </td>

                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.createdDate}}</td>
                    <td>{{item.createdBy}}</td>

                    <!-- ACTION BOTTON -->
                    <transition name="slide-fade" mode="out-in">
                        <td key="1" v-if="hover" id="actiontab">
                            <v-hover>
                                <v-icon class="actioantab-ico"
                                        @click="openModal(index,1)"
                                        title="Data Info"
                                        slot-scope="{hover}"
                                        :color="hover? pallet.black: pallet.checkbox2 "
                                >mdi-information</v-icon>
                            </v-hover>
                            <v-hover>
                                <v-icon class="actioantab-ico"
                                        @click="openModal(index,2)"
                                        title="Edit data"
                                        slot-scope="{hover}"
                                        :color="hover? pallet.black: pallet.checkbox2 "
                                >mdi-square-edit-outline</v-icon>
                            </v-hover>
                            <v-hover>
                                <v-icon class="actioantab-ico"
                                        @click="openModal(index,3)"
                                        title="Delete data"
                                        slot-scope="{hover}"
                                        :color="hover? pallet.black: pallet.checkbox2 "
                                >mdi-delete</v-icon>
                            </v-hover>
                        </td>   
                        <td key="2" v-else id="actiontab">
                            <v-icon>mdi-dots-horizontal</v-icon>
                        </td>
                    </transition>
                    
                    
                </tr>
            </v-hover>

        <!-- IN CASE THE UI LOST CONNECTION WITH API -->
        </table>
        <div v-else-if="!isLoading">
            <div class="lostconnect">{{errStatus}}</div>
            <div v-if="errStatus" class="lostconnect-btn">
                <v-btn round small @click="retry">retry</v-btn>
            </div>
        </div>
        
        <!-- MODAL COMPONENT -->
        <company-add :openAdd="openAdd" @close="closeModal" />
        <company-info :openInfo="openInfo" :comData="companyDataNow" @close="closeModal" />
        <company-edit :openEdit="openEdit" :comData="companyDataNow" @close="closeModal" />
        <company-del :openDel="openDel" :comData="companyDataNow" @close="closeModal" />

    </div>

</template>

<script>
    import axios from 'axios'
    import loading from 'vue-loading'
    import config from '../../config/default.config'
    import CompanyAdd from './CompanyAdd'
    import CompanyInfo from './CompanyInfo'
    import CompanyEdit from './CompanyEdit'
    import CompanyDel from './CompanyDel'

    export default {
        directives: { loading },
        components: {
            CompanyAdd,
            CompanyInfo,
            CompanyEdit,
            CompanyDel,
        },
        data(){
            return{
                checkAll: false,
                check: [],
                inter: false,
                count: 0,
                pallet: {
                    baseBground : "#FAFAFA",
                    baseGrayIcon : "#707071",
                    checkbox1: '#F44336',
                    checkbox2: '#707071',
                    black: '#202020'
                },
                companyData: [],
                errStatus: '',
                isLoading: false,
                openAdd: false,
                openInfo: false,
                openEdit: false,
                openDel: false,
                companyDataNow: {},
            }
        },
        methods:{
            retry(){
                this.isLoading = true
               
                /* setTimeout(function(){ this.GgetAllCompany()}, 3000) */
                setTimeout( () => {
                    this.getAllCompany()
                    this.isLoading = false
                    this.$forceUpdate()
                }, 2000)
            },
            getAllCompany(){
                let option = {
                    url: config.BASE_URL + config.ROUTE.COMPANY,
                    method : 'get',
                    headers: {
                        'Authorization': localStorage.getItem(config.LOCAL.TOKEN)
                    }
                }

                axios(option)
                .then((res) => {
                    this.companyData = res.data.data
                    /* debugger */
                }).catch(err => {
                    
                    if(err.response == undefined){
                        this.errStatus = 'Lost connection with server.'
                    }else{
                        console.log(err.response.data)
                        this.errStatus = err.response.data.message
                    }
                })
            },
            checkAllChacker(){
                if(this.checkAll == true){
                    this.count = this.companyData.length
                    for(var i=0; i <this.companyData.length; i++ ){
                        this.check[i] = true
                    }
                    this.inter = false
                }else{
                    this.count = 0
                    for(var j=0; j <this.companyData.length; j++ ){
                        this.check[j] = false
                    }
                    this.inter = false
                }
        
            },
            checkChacker(){
                this.count = 0
                for(var i=0; i < this.companyData.length; i++){
                    if(this.check[i] == true){
                        this.count++
                    }
                }
                debugger
                if(this.count != 0){
                    if(this.count != this.companyData.length){
                        this.inter = true
                    }else{
                        this.inter = false
                        this.checkAll = true
                    }
                }else{
                    this.checkAll = false
                    this.inter = false
                }
            },
            info(id){
                alert(id)
            },
            closeModal(value){
                this.openAdd = value
                this.openInfo = value
                this.openEdit = value
                this.openDel = value
                this.getAllCompany()
            },
            openModal(index, mode){
                this.companyDataNow = this.companyData[index]
                switch(mode){
                    case 1 : 
                        this.openInfo = true
                        break
                    case 2 :
                        this.openEdit = true
                        break
                    case 3 :
                        this.openDel = true
                        break
                }
                /* this.openInfo = true */
            }

        },
        mounted(){
            this.getAllCompany()
        }

    }
</script>

<style lang="stylus">
    baseBorder = 1px solid #E0E0E0 

    .table-apps
        /* margin 15px */
        margin-top 0px
        margin-right auto
        margin-left auto
        max-width 950px
        /* padding 5px */
        background-color #FAFAFA
        min-height  100%
        height auto
    .tableTitle
        margin-top 19px
        margin-left 15px
    .row
        /* border-top 1px solid #E0E0E0 */
        /* border-bottom 1px solid #E0E0E0 */
    .checkbox
        margin-left 5px
    .allDelete
        margin-right 10px
    .devider
        border-right 1px solid #E0E0E0
    .lostconnect
        margin-left 15px
        margin-top 20px
    .lostconnect-btn
        margin-top 10px
        margin-left 8px
    .lostconnect-loading
        margin-left 5px
        margin-top 0px
    /* CSS FOR TABLE */

    #checkboxtab
        width 20px !important  
        border baseBorder  
    #actiontab
        width 20% !important
        
        .actioantab-ico
            padding-left 10px
            padding-right 10px

    table
        border-collapse collapse
        border baseBorder
        margin-bottom 40px
        width 100%
        .v-input__control
            height 20px
        .v-input--selection-controls
            margin-top 15px
            padding-top 2px
            margin-left 8px
            margin-right 1px
            margin-bottom 3px
    tr#tr
        border-bottom baseBorder
        background-color white
        &:hover
            background-color #EEEEEE
            border-bottom 1px solid #3BA2F4 !important
            /* border-top 1px solid #3BA2F4 !important */
    tr#header
        border baseBorder
        /* border-bottom 1px solid #F44336 */
    th
        background-color #EEEEEE
    td
        text-align center
    .left
        text-align left
        padding-top 11px/* 
        padding-left 15% */
    

    /* CSS FOR ANIMATION */

    .slide-fade-enter-active{
        transition: all .1s ease;
    }

    .slide-fade-leave-active{
        transition: all .2s ease;
    }

    .slide-fade-enter{
        transform: translateY(-10px);
        opacity: 0;
    }

    .slide-fade-leave-to{
        transform: translateY(10px);
        opacity: 0;
    }

</style>
