<template>
    <base-modal-form
        title="Edit Company Data"
        :names="names"
        :openForm="openEdit"
        :msg="msg"
        @submit="onSubmit"
        @close="onClose"
        :dataNow="comData"
    />
</template>

<script>
import BaseModalForm from '../../components/BaseModalForm'
import HelperAPI from '../../functions/HelperAPI'

export default {
    data(){
        return{
            names: ['Company Name', 'Address', 'Phone', 'Email'],
            msg: '',
        }
    },
    components: {
        BaseModalForm,
    },
    props: {
        openEdit: Boolean,
        comData: Object
    },
    methods: {
        onSubmit(childData){
            HelperAPI.httpRequest('COMPANY', 'put', childData, (success, httpMsg) => {
                console.log(httpMsg)
                if(success == true){
                    this.onClose()
                }else{
                    this.msg = httpMsg
                }
            })
        },
        onClose(){
            this.$emit('close', false)
        }
    }

}
</script>

<style lang="stylus" scoped>

</style>

