<template>
    <v-toolbar
        fixed
        flat
        clipped-left
        app
    >
        <v-toolbar-side-icon dark @click.stop="sidebarDrawer"></v-toolbar-side-icon>
        <v-toolbar-title class="mr-5 align-center">
            <v-icon medium color="red">mdi-alpha-m-box</v-icon>
            <span class="headline">Marcom</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-item>
            <div class="header-btn" @click="onLogout">
                Logout
            </div>
        </v-toolbar-item>
        
    </v-toolbar>
</template>

<script>/* 
import config from '../../config/default.config' */

export default {
    methods: {
        onLogout() {
            this.$router.push('/')
            sessionStorage.clear()
            /* localStorage.clear() */
            /* delete localStorage[ config.LOCAL.TOKEN ]
            delete localStorage[ config.LOCAL.USERDATA ]
            window.helperCookie.deleteAllItem() */
        },
        sidebarDrawer(){
            this.$emit('draw')
        },
    }

}
</script>

<style lang="stylus" scoped>
    grey=#B1B1B3
    greyHover=#D4D4D5
    .header-btn
        border 2px solid grey
        margin-right 10px
        padding 7px 16px 7px 16px
        border-radius 25px
        color grey
        font-weight 450
        cursor pointer
    .header-btn:hover
        border 2px solid greyHover
        color greyHover
    .theme--light.v-toolbar
        background-color #26262B
        color #ffffff
</style>

