<template>
    <div class="container">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-card class="rounded-card" hover raised>
                        <v-img class="white--text" height="150px" src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg">
                            
                                <v-layout align-center justify-center class="nametag">
                                    <!-- <v-flex xs12 align-end flexbox> -->
                                        <v-icon color="white" large class="nametag-icon">mdi-alpha-m-box</v-icon>
                                        <span class="headline">Marcom </span> <span class="headline font-weight-light nametag-login"> Login</span>
                                    <!-- </v-flex> -->
                                </v-layout>
                            
                        </v-img>
                        <!-- BEGIN FORM -->
                        <v-form ref="form" v-model="valid" lazy-validation>
                            <v-card-text>
                                <div class="input">
                                    <v-text-field
                                        v-model="data.username"
                                        type="text"
                                        label="Username"
                                        :rules="rule"
                                        required
                                        
                                    ></v-text-field>
                                    <v-text-field
                                        :type="hide ? 'password' : 'text' "
                                        v-model="data.password"
                                        label="Password"
                                        :rules="rule"
                                        required
                                    >
                                        <div slot="append">
                                            <v-icon v-if="!hide" color="blue" slot="activator" @click="hide = !hide">mdi-eye</v-icon>
                                            <v-icon v-else slot="activator" @click="hide = !hide">mdi-eye-off</v-icon>

                                        </div>
                                    </v-text-field>
                                    <span class="loginNotiv" v-if="errStatus">{{errStatus}}</span>
                                </div>
                            </v-card-text>
                                
                            <v-card-actions>
                                <v-btn flat round block @click="onSubmit">login</v-btn>
                            </v-card-actions>
                        </v-form>

                    </v-card>
                </v-layout>
            </v-container>
        </v-content>
    </div>
</template>

<script>
import config from '../../config/default.config'
import HelperAPI from '../../functions/HelperAPI'

export default {
    data(){
        return {
            hide: true,
            data: {
                username: '',
                password: ''
            },
            rule: [ value => !!value || 'Required.', ],
            errStatus: '',
        }
    },
    mounted(){
        this.checkToken()
    },
    methods: {
        checkToken() {
            debugger
            if(sessionStorage.getItem(config.LOCAL.TOKEN)){
                this.$router.push('dashboard/company')
            }
        },
        onSubmit() {
            debugger
            if (this.$refs.form.validate()) {
                HelperAPI.httpRequest('LOGIN', 'post', this.data, (success, httpData) => {
                    if(success == true){
                        sessionStorage.setItem(config.LOCAL.USERDATA, JSON.stringify(httpData.userdata))
                        sessionStorage.setItem(config.LOCAL.TOKEN, httpData.token)
                        this.$router.push('dashboard/company')
                    }else{
                        this.errStatus = httpData
                    }
                })
            }
        }
    }
}
</script>

<style lang="stylus" scoped>
    .container
        display flex
        justify-content center
        padding-top 10px
        height 100%
    
    .nametag
        margin-top 60px
        background-color rgba(0, 0, 0, 0.5)
        margin-right 30px
        margin-left 30px
        border-radius 25px
        padding-right 10px
        padding-left 10px 
    
    .nametag-login
        margin-left 3px
    
    .input
        margin-right 30px
        margin-left 30px
    
    .loginNotiv
        color red
        display flex
        justify-content center
    
    .rounded-card
        border-radius 20px
    
</style>
